<!-- Preload scripts -->
<link rel="preload" as="script" href="https://www.googletagmanager.com/gtag/js?id=G-8TSPGDFPRC">
{{ if .IsPage -}}
<link rel="preload" as="script" href="https://giscus.app/client.js">
<link rel="preload" as="script" href="https://cyrusyip.disqus.com/embed.js">
{{ end -}}
<link rel="preload" as="script" href="https://unpkg.com/@swup/head-plugin@2">
<link rel="preload" as="script" href="https://unpkg.com/@swup/preload-plugin@3">
<link rel="preload" as="script" href="https://unpkg.com/swup@4">