/* fix ugly link in table header */
.post .post-content > table th a {
  color: white;
  text-decoration: underline;
}

/* standardize background color */
#main {
  background-color: white;
}

/* fix copyright info that extends to the right */
.post .post-copyright {
  box-sizing: border-box;
}

/* remove left padding in user agent */
.pagination ul {
  padding: 0;
}

/* align language button and remove icon */
.menu-item-lang {
  display: flex;
  align-items: center;
}
.menu-item-lang::after {
  content: "\00a0▼" !important;
}
.menu-item-lang .iconfont {
  display: none;
}
.mobile-menu-item-lang .iconfont {
  display: none;
}

/* lastmod in archive */
// highlight date
.archive-post-create-time {
  // color: rgba(0, 0, 0, 0.8) !important;
}
// desktop
.archive-post {
  display: flex !important;
  align-items: center;
}
.archive-post-time-wrapper {
  display: flex;
  flex-direction: column;
}
// .archive-post-title {
//   display: flex !important;
// }

// mobile
@media screen and (max-width: 899px) {
  .archive-post {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
  .archive-post-time-wrapper {
    display: flex;
    flex-direction: row;
  }
  .archive-post-time {
    width: unset !important;
  }
  .archive-post-lastmod-time {
    margin-left: 1em;
  }
}

/* ../../../assets/js/custom.js */
.visible {
  visibility: visible !important;
}

// grid desktop
// proportion date:title = 235/900 = 1:3.829
// .archive-post-create-time {
//   color: rgba(0, 0, 0, 0.8) !important;
// }
// .archive-post {
//   display: grid !important;
//   grid-template-columns: 1fr 4fr;
//   grid-template-rows: 1fr 1fr;
//   gap: 0px 0px;
//   grid-template-areas:
//     "date    title"
//     "lastmod title";
// }
// .archive-post-create-time {
//   grid-area: date;
// }
// .archive-post-lastmod-time {
//   grid-area: lastmod;
// }
// .archive-post-title {
//   grid-area: title;
//   align-self: center;
// }

/*
 */
