/* fix ugly link in table header */
.post .post-content > table th a {
  color: white;
  text-decoration: underline;
}

/* standardize background color */
#main {
  background-color: white;
}

/* fix copyright info that extends to the right */
.post .post-copyright {
  box-sizing: border-box;
}

/* remove left padding in user agent */
.pagination ul {
  padding: 0;
}

/* align language button and remove icon */
.menu-item-lang {
  display: flex;
  align-items: center;
}
.menu-item-lang::after {
  content: "\00a0▼" !important;
}
.menu-item-lang .iconfont {
  display: none;
}
.mobile-menu-item-lang .iconfont {
  display: none;
}

/* lastmod in archive */
// highlight lastmod
.archive-post-lastmod-time {
  color: rgba(0, 0, 0, 0.8) !important;
}
// desktop
.archive-post {
  display: flex !important;
  align-items: center;
}
.archive-post-time-wrapper {
  display: flex;
  flex-direction: column;
}
// .archive-post-title {
//   display: flex !important;
// }

// mobile
@media screen and (max-width: 899px) {
  .archive-post {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
  .archive-post-time-wrapper {
    display: flex;
    flex-direction: row;
  }
  .archive-post-time {
    width: unset !important;
  }
  .archive-post-lastmod-time {
    margin-left: 0.5em;
  }
}

/* ../../../assets/js/custom.js */
.visible {
  visibility: visible !important;
}

/* remove figure margin */
figure {
  margin: 0 !important;
}
figure > figcaption {
  color: gray;
}
/* image is not clickable because photoswipe is disabled */
p > img {
  cursor: auto !important;
}
/* center img */
// :has only works for browsers after December 2023, see https://caniuse.com/css-has
p:has(.img), .figure{
  text-align: center;
}
