/* fix ugly link in table header */
.post .post-content > table th a {
  color: white;
  text-decoration: underline;
}

/* standardize background color */
#main {
  background-color: white;
}

/* fix copyright info that extends to the right */
.post .post-copyright {
  box-sizing: border-box;
}

/* remove left padding in user agent */
.pagination ul {
  padding: 0;
}

/* align language button and remove icon */
.menu-item-lang {
  display: flex;
  align-items: center;
}
.menu-item-lang::after {
  content: "\00a0▼" !important;
}
.menu-item-lang .iconfont {
  display: none;
}
.mobile-menu-item-lang .iconfont {
  display: none;
}

/*
 */
