// This file will be applied last

// Padding between giscus and Disqus
#disqus_thread {
  padding-block-start: 2rem;
}

// Hide website title
.header>h1 {
  display: none;
}

// Arrange terms in rows
.term-list {
  &__item {
    display: inline flow-root;
    margin-block-start: 0;
  }

  &__item:not(:last-child) {
    margin-inline-end: 1rem; // Right margin
  }

  &__link {
    text-decoration: underline;
    text-decoration-thickness: 0.75px;
    text-underline-offset: 0.4rem;
  }
}

// swup progress bar
.swup-progress-bar {
  height: 4px;
  background-color: var(--accent-color);
}