<script>
function loadScript({
  url,
  delay,
  onloadCallback,
  async,
  preloadCallback,
  attributes = {},
}) {
  function load() {
    if (preloadCallback) preloadCallback();

    const script = document.createElement("script");
    script.src = url;
    script.async = async;

    // Set attributes
    Object.entries(attributes).forEach(([key, value]) => {
      script.setAttribute(key, value);
    });

    if (onloadCallback) script.onload = onloadCallback;

    document.body.appendChild(script);
  }

  if (typeof delay !== "undefined") {
    setTimeout(load, delay);
  } else {
    load();
  }
}

function isCyrusYipDomainOrLocalhost() {
  const currentDomain = window.location.hostname;
  const tartgetDomain = "cyrusyip.org";
  console.log(`hostname: ${currentDomain}`);
  return (
    currentDomain === tartgetDomain ||
    currentDomain.endsWith("." + tartgetDomain) ||
    currentDomain === "localhost" ||
    currentDomain === "127.0.0.1"
  )
}

// Google Analytics
// Only load it on cyrusyip.org, preventing unwanted data collections when people fork this repository
if (isCyrusYipDomainOrLocalhost()) {
  loadScript({
    url: "https://www.googletagmanager.com/gtag/js?id=G-8TSPGDFPRC",
    delay: 100,
    async: false,
    onloadCallback: function () {
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-8TSPGDFPRC");
      console.log("Google Analytics loaded")
    }
  })
}
</script>

{{/* Only load comment services for regular page */}}
{{ if .IsPage }}
<script>
// Check languages for comment services
let giscusLang, disqusLang;
if (document.documentElement.lang === "zh-CN") {
  giscusLang = "zh-CN";
  disqusLang = "zh";
} else {
  giscusLang = "en";
  disqusLang = "en";
}

// Giscus
const giscusConfig = {
  url: 'https://giscus.app/client.js',
  delay: 100,
  async: false,
  onloadCallback: () => console.log("Giscus loaded"),
  attributes: {
    'data-repo': 'CyrusYip/blog-comments',
    'data-repo-id': 'MDEwOlJlcG9zaXRvcnkzNDg2NjkxMTQ=',
    'data-category': 'Comments',
    'data-category-id': 'DIC_kwDOFMhEus4ChUiV',
    'data-mapping': 'pathname',
    'data-strict': '0',
    'data-reactions-enabled': '1',
    'data-emit-metadata': '0',
    'data-input-position': 'bottom',
    'data-theme': 'preferred_color_scheme',
    'data-lang': giscusLang,
    'data-loading': 'lazy',
    'crossorigin': 'anonymous'
  }
}
loadScript(giscusConfig);

// Disqus
loadScript({
  url: "https://cyrusyip.disqus.com/embed.js",
  delay: 100,
  async: false,
  attributes: { "data-timestamp": +new Date() },
  preloadCallback: function () {
    window.disqus_config = function () {
      this.language = disqusLang;
    }
  },
  onloadCallback: function () { console.log("Disqus loaded") },
})
</script>
{{ end }}

<script>
// swup head plugin
loadScript({
  url: "https://unpkg.com/@swup/head-plugin@2",
  async: false,
  delay: 200,
  onloadCallback: function () {
    console.log("swup head plugin loaded");
  },
})

// swup preload plugin
loadScript({
  url: "https://unpkg.com/@swup/preload-plugin@3",
  async: false,
  delay: 200,
  onloadCallback: function () {
    console.log("swup preload plugin loaded")
  }
})

// swup progress bar plugin
loadScript({
  url: "https://unpkg.com/@swup/progress-plugin@3",
  async: false,
  delay: 200,
  onloadCallback: function () {
    console.log("swup progress bar plugin loaded")
  }
})

// swup
loadScript({
  url: "https://unpkg.com/swup@4",
  async: false,
  delay: 200,
  onloadCallback: function () {
    const swup = new Swup({
      containers: ["body"],
      plugins: [
        new SwupHeadPlugin(),
        new SwupPreloadPlugin({ preloadVisibleLinks: true }),
        new SwupProgressPlugin(),
      ],
      animationSelector: false,
    });
    console.log("swup loaded");

    swup.hooks.on("page:view", () => {
      // Load comment services
      let giscusLang, disqusLang;
      if (document.documentElement.lang === "zh-CN") {
        giscusLang = "zh-CN";
        disqusLang = "zh";
      } else {
        giscusLang = "en";
        disqusLang = "en";
      }

      function loadGiscus() {
        const giscusConfig = {
          url: 'https://giscus.app/client.js',
          delay: 100,
          async: true,
          onloadCallback: () => console.log("Giscus loaded"),
          attributes: {
            'data-repo': 'CyrusYip/blog-comments',
            'data-repo-id': 'MDEwOlJlcG9zaXRvcnkzNDg2NjkxMTQ=',
            'data-category': 'Comments',
            'data-category-id': 'DIC_kwDOFMhEus4ChUiV',
            'data-mapping': 'pathname',
            'data-strict': '0',
            'data-reactions-enabled': '1',
            'data-emit-metadata': '0',
            'data-input-position': 'bottom',
            'data-theme': 'preferred_color_scheme',
            'data-lang': giscusLang,
            'data-loading': 'lazy',
            'crossorigin': 'anonymous'
          }
        }
        loadScript(giscusConfig);
      }
      const giscusElement = document.querySelector("div.giscus");
      // Only load Giscus if .giscus exists
      if (giscusElement) {
        loadGiscus();
      }

      function loadDisqus() {
        // Reload
        if (typeof DISQUS === 'object') {
          DISQUS.reset({
            reload: true,
            config: function () {
              this.page.url = window.location.href;
              this.language = disqusLang;
            }
          });
          DISQUS_RECOMMENDATIONS.reset();
          console.log("Disqus reloaded");
        } else {
          // Load
          loadScript({
            url: "https://cyrusyip.disqus.com/embed.js",
            // delay: 100,
            async: true,
            attributes: { "data-timestamp": +new Date() },
            preloadCallback: function () {
              window.disqus_config = function () {
                this.language = disqusLang;
              }
            },
            onloadCallback: function () { console.log("Disqus loaded") },
          })
        }
      }
      const disqusElement = document.querySelector("div#disqus_thread");
      if (disqusElement) {
        setTimeout(() => {
          loadDisqus();
        }, 100)
      }
    })
  }
})
</script>