<script>
  // Load script asynchronously
  function loadScript(url, delay, callback, asyncValue) {
    setTimeout(() => {
      const script = document.createElement("script");
      script.src = url;
      if (callback) script.onload = callback;
      // Use async by default
      if (typeof asyncValue === 'undefined') {
        script.async = true;
      } else {
        script.async = asyncValue;
      }
      document.body.appendChild(script);
    }, delay);
  }

  // Google Analytics
  loadScript(
    "https://www.googletagmanager.com/gtag/js?id=G-8TSPGDFPRC",
    100,
    function () {
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-8TSPGDFPRC");
      console.log("Google Analytics loaded")
    }
  );
</script>

{{/* Only load comment services for regular page */}}
{{ if .IsPage }}

<script>
// Check languages for comment services
let giscusLang, disqusLang;
if (document.documentElement.lang === "zh-CN") {
  giscusLang = "zh-CN";
  disqusLang = "zh";
} else {
  giscusLang = "en";
  disqusLang = "en";
}
function loadGiscus() {
  const script = document.createElement('script');
  script.src = 'https://giscus.app/client.js';
  script.setAttribute('data-repo', 'CyrusYip/blog-comments');
  script.setAttribute('data-repo-id', 'MDEwOlJlcG9zaXRvcnkzNDg2NjkxMTQ=');
  script.setAttribute('data-category', 'Comments');
  script.setAttribute('data-category-id', 'DIC_kwDOFMhEus4ChUiV');
  script.setAttribute('data-mapping', 'pathname');
  script.setAttribute('data-strict', '0');
  script.setAttribute('data-reactions-enabled', '1');
  script.setAttribute('data-emit-metadata', '0');
  script.setAttribute('data-input-position', 'bottom');
  script.setAttribute('data-theme', 'preferred_color_scheme');
  script.setAttribute('data-lang', giscusLang);
  script.setAttribute('data-loading', 'lazy');
  script.crossOrigin = 'anonymous';
  script.async = true;
  setTimeout(()=>{
    document.body.appendChild(script);
    console.log("Giscus loaded");
  }, 100)
}
loadGiscus()

function loadDisqus() {
  window.disqus_config = function () {
    this.language = disqusLang;
  }
  const script = document.createElement('script');
  script.async = true;
  script.src = 'https://cyrusyip.disqus.com/embed.js';
  script.setAttribute('data-timestamp', +new Date());
  setTimeout(()=>{
    document.body.appendChild(script);
    console.log('Disqus loaded');
  }, 100)
}
loadDisqus()
</script>

{{ end }}

<script>
  // swup head plugin
  const script = document.createElement("script");
  script.src = "https://unpkg.com/@swup/head-plugin@2";
  script.onload = ()=>{
    console.log("swup head plugin loaded")
    loadSwupPreload();
    loadSwup();
  };
  script.async = true;
  setTimeout(()=>{
    document.body.appendChild(script);
  }, 200)
  // swup preload plugin
  function loadSwupPreload() {
    const script = document.createElement("script");
    script.src = "https://unpkg.com/@swup/preload-plugin@3";
    script.onload = ()=>{
      console.log("swup preload plugin loaded")
    };
    script.async = false;
    document.body.appendChild(script);
  }
  // swup
  function loadSwup() {
    const script = document.createElement("script");
    script.src = "https://unpkg.com/swup@4";
    script.onload = () => {
      const swup = new Swup({
        plugins: [
          new SwupHeadPlugin(),
          new SwupPreloadPlugin({ preloadVisibleLinks: true }),
        ],
        animationSelector: false,
      });
      console.log("swup loaded");

      swup.hooks.on("page:view", () => {
        // Load comment services
        let giscusLang, disqusLang;
        if (document.documentElement.lang === "zh-CN") {
          giscusLang = "zh-CN";
          disqusLang = "zh";
        } else {
          giscusLang = "en";
          disqusLang = "en";
        }

        function loadGiscus() {
          const script = document.createElement('script');
          script.src = 'https://giscus.app/client.js';
          script.setAttribute('data-repo', 'CyrusYip/blog-comments');
          script.setAttribute('data-repo-id', 'MDEwOlJlcG9zaXRvcnkzNDg2NjkxMTQ=');
          script.setAttribute('data-category', 'Comments');
          script.setAttribute('data-category-id', 'DIC_kwDOFMhEus4ChUiV');
          script.setAttribute('data-mapping', 'pathname');
          script.setAttribute('data-strict', '0');
          script.setAttribute('data-reactions-enabled', '1');
          script.setAttribute('data-emit-metadata', '0');
          script.setAttribute('data-input-position', 'bottom');
          script.setAttribute('data-theme', 'preferred_color_scheme');
          script.setAttribute('data-lang', giscusLang);
          script.setAttribute('data-loading', 'lazy');
          script.crossOrigin = 'anonymous';
          script.async = false;
          setTimeout(()=>{
            document.body.appendChild(script);
            console.log("Giscus loaded");
          }, 100)
        }
        const giscusElement = document.querySelector("div.giscus");
        // Only load Giscus if .giscus exists
        if (giscusElement) {
          loadGiscus();
        }

        function loadDisqus() {
          // Reload
          if (typeof DISQUS === 'object') {
            DISQUS.reset({
              reload: true,
              config: function() {
                this.page.url = window.location.href;
                this.language = disqusLang;
              }
            });
            DISQUS_RECOMMENDATIONS.reset();
            console.log("Disqus reloaded");
          } else {
            // Load
            const disqus_config = function () {
              this.language = disqusLang;
            };
            const script = document.createElement("script");
            script.src = "https://cyrusyip.disqus.com/embed.js";
            script.setAttribute('data-timestamp', +new Date());
            document.body.appendChild(script);
            console.log("Disqus loaded")
          }
        }
        const disqusElement = document.querySelector("div#disqus_thread");
        if (disqusElement) {
          setTimeout(()=>{
            loadDisqus();
          }, 100)
        }
      })
    };
    script.async = false;
    document.body.appendChild(script);
  }
</script>