<script>
  // Load script asynchronously
  function loadScript(url, delay, callback) {
    setTimeout(() => {
      const script = document.createElement("script");
      script.src = url;
      if (callback) script.onload = callback;
      script.async = true;
      document.body.appendChild(script);
    }, delay);
  }

  // Google Analytics
  loadScript(
    "https://www.googletagmanager.com/gtag/js?id=G-8TSPGDFPRC",
    100,
    function () {
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-8TSPGDFPRC");
      console.log("Google Analytics loaded")
    }
  );
</script>

{{- /* Set language */ -}}
{{ $disqusLanguage := "" }}
{{ $giscusLanguage := "" }}

{{ if eq .Language.Lang "zh-cn" }}
  {{ $giscusLanguage = "zh-CN" }}
  {{ $disqusLanguage = "zh" }}
{{ else }}
  {{ $giscusLanguage = "en" }}
  {{ $disqusLanguage = "en" }}
{{ end }}

{{- /* giscus */ -}}
<script src="https://giscus.app/client.js"
        data-repo="CyrusYip/blog-comments"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzNDg2NjkxMTQ="
        data-category="Comments"
        data-category-id="DIC_kwDOFMhEus4ChUiV"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="{{ $giscusLanguage }}"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>

{{- /* Disqus */ -}}
{{ if eq site.BaseURL "https://cyrusyip.org/" }}
  {{- $pc := .Site.Config.Privacy.Disqus -}}
  {{- if not $pc.Disable -}}
  {{ if .Site.Config.Services.Disqus.Shortname }}
  <script>
      window.disqus_config = function () {
      {{with .Params.disqus_identifier }}this.page.identifier = '{{ . }}';{{end}}
      {{with .Params.disqus_title }}this.page.title = '{{ . }}';{{end}}
      {{with .Params.disqus_url }}this.page.url = '{{ . | html  }}';{{end}}
      this.language = "{{ $disqusLanguage }}"
      };
      (function() {
          if (["localhost", "127.0.0.1"].indexOf(window.location.hostname) != -1) {
              document.getElementById('disqus_thread').innerHTML = 'Disqus comments not available by default when the website is previewed locally.';
              return;
          }
          var d = document, s = d.createElement('script'); s.async = true;
          s.src = '//' + {{ .Site.Config.Services.Disqus.Shortname }} + '.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="https://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>{{end}}
  {{- end -}}
{{ end }}